*{
    box-sizing: border-box;
}
.all{
    margin: 0;
}

.head{
    background-color: rgba(33, 33, 33, 1);
    opacity: 0.3;
}

.head h1{
    color: white;
    padding: 30px;
    text-align: center;
    margin: 0;
}


.item-nav{
    display: flex;
    justify-content: space-evenly;  
    position: relative; 
}


.item{
    width: 100px;
    height: 100px;
    text-align: center;
}

#id1{
    width: 220px;
    height: 300px;
    background-image: url("/public/glassesImage/model.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#id2{
    width: 200px;
    height: 300px;
    background-image: url("/public/glassesImage/model.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}


.footer{
    background-color: aliceblue;
    margin: 0 200px;
    height: 200px;
    padding: 20px;
    padding-left: 60px;
}


.item-footer img{
    width: 150px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.item-img img{
    width: 60%;
    margin-top: 38%;
}

.item-txt{
    bottom: 16px;
    width: 220px;
    height: 90px;   
    position: absolute;
    background-color: rgba(250, 59, 59, 0.3);
    text-align: left;
}

.item-txt h5{
    font-size: 20px;
    color: blue;
}

.item-txt p{
    color: white;
    font-size: 14px;
    line-height: 20px;
}